<div class="row">
<div class="col-6">
  
  <form [formGroup]="formGroup">
    <label for="nombre">Nombre</label>
    <input name="nombre"
          formControlName="nombre"
          type="text" />
    <label for="ciudad">Ciudad</label>
    <input name="ciudad"
          formControlName="ciudad"
          type="text" />
    <label for="socios">Socios</label>
    <input name="socios"
          formControlName="socios"
          type="number" />
    <label for="fundacion">Año de fundación</label>
    <input name="fundacion"
          formControlName="fundacion"
          type="number" />
    <label for="escudo">Escudo</label>
    <input name="escudo"
          formControlName="escudo"
          type="text" />
    <div>
      <img src={{formGroup.escudo}} title="formGroup.nombre" alt="formGroup.nombre">
    </div>
  </form>
</div>
<div><button (click)="register(formGroup)"
  [disabled]="formGroup.invalid">Insertar equipo</button></div>

  <app-listaequipos class = "col-6" [listaEquipos]="equipos" (emitter)="mostrarEquipo($event)"></app-listaequipos>

  <div class="jumbotron col-6" *ngIf="equipoSeleccionado">
    <p>
      <img [src]="equipoSeleccionado.escudo" [title]="equipoSeleccionado.nombre" [alt]="equipoSeleccionado.nombre">
    </p>
    <p>
      Nombre: {{equipoSeleccionado.nombre}}
    </p>
    <p>
      {{equipoSeleccionado.ciudad}}
    </p>
    <p>
      {{equipoSeleccionado.anyoFundacion}}
    </p>
    <p>
      {{equipoSeleccionado.socios}}
    </p>
  </div>
  </div>